<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-5">Welcome to Ravikumar Gujjula's Blog</h1>

   


    
    </div>
</div>
